@model IISLogAnalyzer.Controllers.AnalyzerResultModel

<div class="title">
    <h1>
        Results
    </h1>
</div>
@if (Model.Error)
{
    <div class="error">
        @Model.ErrorMessage
    </div>
}
else
{
    <div class="data-table">
        <div>@Model.TimeTaken</div>
        <table>
            <thead>
                <tr>
                    @foreach (System.Data.DataColumn col in Model.ResultsTable.Columns)
                    {
                        <th>@col.Caption</th>
                    }
                </tr>
            </thead>
            <tbody class="table-hover">
                @foreach (System.Data.DataRow row in Model.ResultsTable.Rows)
                {
                    <tr>
                        @foreach (var cell in row.ItemArray)
                        {
                            <td>@cell.ToString()</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <div id="numberOfExistingRecords">@Model.NumberOfExistingRecords</div>
    </div>
}